#!/usr/bin/make -f

source:
	:

%:
	dh $@

override_dh_auto_configure:
	cat /proc/meminfo
	uname -a
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DCMAKE_CXX_FLAGS="-DOPENSSL_API_COMPAT=0x10100000L" \
		-DBUILD_ONLY="kms"
